.container {
    width: 50vw;
    margin: 1em auto;
}

.container .form {
    display: grid;
    grid-template-areas: 
        'label-h label-m label-s'
        'input-h input-m input-s'
        'btn btn btn';
    grid-gap: 1em;
}

#hours { grid-area: input-h; }
#minutes { grid-area: input-m; }
#seconds { grid-area: input-s; }

label[for="hours"] { grid-area: label-h; }
label[for="minutes"] { grid-area: label-m; }
label[for="seconds"] { grid-area: label-s; }

button { grid-area: btn; }

.btn {
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    padding: 1em;
}

input {
    padding: 5px;
}

.timer {
    text-align: center;
    font-size: 45px;
}